<% if @artist.errors.any? %>
  <ul>
  <% @artist.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= button_to 'Back' , artists_path, method: :get,  class: 'buttons' %>

<%= form_with(model: @artist,local: true) do |f| %>
    <p>
    <%=f.label :Name %>
    <%= f.text_field :name %>
    </p>

    <p>
    <%=f.label :"Date of Birth" %>
    <%=f.date_field :dob%>
    </p>

  <p>
    <%= f.label :gender %>
    <%= f.select :gender, User.genders.keys %>
  </p>


  <p>
    <%=f.label :Address %>
    <%=f.text_field :address%>
    </p>

    <p>
    <%=f.label :"First YEar Released" %>
    <%=f.number_field :first_release_year%>
    </p>

    <p>
    <%=f.label :"Number of Albums Released" %>
    <%=f.number_field :no_of_albums_released%>
    </p>

    <p><%= f.submit %></p>
<% end %>