<h1>Details of Artist <%=@artist.name %></h1>

<%= button_to "Back" ,artists_path, method: :get %>
<p>Name: <%=@artist.name %><p>
<p>DOB: <%=@artist.dob %><p>
<p>Gender: <%=@artist.gender %><p>
<p>Address: <%=@artist.address %><p>
<p>First Year Release: <%=@artist.first_release_year %><p>
<p>Number of Albums Released: <%=@artist.no_of_albums_released %><p>