
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= button_to 'Back','/',method: :get %>

<%= form_for @user, url: '/user' , method: :post do |f| %>

  <h1> Register User </h1>

  <p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  </p>

  <p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </p>

<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

  <p>
  <%= f.label :phone %>
  <%= f.number_field :phone %>
  </p>

  <p>
  <%= f.label :dob %>
  <%= f.date_field :dob %>
  </p>

  <p>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
  </p>

  <p>
  <%= f.label :address %>
  <%= f.text_field :address %>
  </p>

  <%=  submit_tag("Create Account") %>
<% end %>
<p>
Already have an Account ? <%= link_to 'Login','/login' %>
</p>
